
/* GLOBAL STYLES */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
select {
    outline: 0;
}
input:focus {
    background-color: rgba(41, 171, 226,0.1);
}

button {
    padding: 0;
    cursor: pointer;
}

html {
    font-size: 16px;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
}

/* LOGIN STYLES */

.login_view {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.login_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.75);
}

.login_header {
    display: flex;
    height: 15%;
    justify-content: center;
    margin-top: 2.5%;
}

#konteh_logo {
    height: 85%;
}

.login_input_wrapper {
    height: 55%;
    display: flex;
    justify-content: center;
}

.login_input_fields {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 16px 1px grey;
}

.login_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 95%;
}

.login_form input {
    height: 20%;
    margin-top: 9.5%;
    border: 0;
    border-bottom: 2px solid rgb(169,169,169);
    font-size: 1.3em;
}
.login_form input:focus:invalid {
    border-bottom: 2px solid red;
}
.login_form input:valid {
    border-bottom: 2px solid green;
}

#login_submit_button {
    margin-top: 20%;
    height: 20%;
    width: 50%;
    align-self: center;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    background-color: #339FE6;
    color: white;
    border: 0;
}
#login_submit_button:hover {
    background-color: white;
    color: #339FE6;
    border: 3px solid #339FE6;
}

/* SIGN UP STYLES*/

.signup_view {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: relative;
}

.signup_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.75);
}

.signup_header {
    display: flex;
    height: 10%;
    justify-content: center;
    margin-top: 1%;
}

.signup_input_wrapper {
    height: 85%;
    display: flex;
    justify-content: center;
}

.signup_input_fields {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey;
}

.signup_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 98%;
}

.signup_form input {
    height: 7.5%;
    margin-top: 2%;
    border: 0;
    border-bottom: 2px solid rgb(169,169,169);
    font-size: 1.3em;
}

.signup_form select {
    height: 7.5%;
    margin-top: 2%;
    border: 0;
    border-bottom: 2px solid rgb(169,169,169);
    color: rgba(0,0,0,0.7);
    background: white;
    font-size: 1.3em;
}

.signup_checkboxes {
    margin-top: 2.5%;
    display: flex;
    color: rgba(0,0,0,0.7);
    align-items: center;
}

.signup_checkboxes input {
    margin-top: 0;
    height: 100%;
    margin-right: 5%;
    outline: 0;
}

#signup_work_field {
    width: 15px;
    height: 15px;
}

#signup_internship_field {
    width: 15px;
    height: 15px;
}

#signup_gdpr_field {
    width: 15px;
    height: 15px;
}

.signup_cv_upload {
    margin-top: 2.5%;
}
.signup_form input:focus:invalid {
    outline: 0;
    border-bottom: 2px solid red;
}
.signup_form input:focus:valid {
    outline: 0;
    border-bottom: 2px solid green;
}

.signup_button {
    height: 10%;
    width: 100%;
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
}

#signup_submit_button {
    width: 90%;
    height: 95%;
    align-self: center;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    background-color: #339FE6;
    color: white;
    border: 0;
}
#signup_submit_button:hover {
    background-color: white;
    color: #339FE6;
    border: 3px solid #339FE6;
}

#signup_submit_feedback_prompt_fail {
    position: absolute;
    width: 40%;
    top: 35%;
    left: 0;
    right: 0;
    margin:auto;
    background-color: rgba(255,0,0, 0.8);
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    padding: 50px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey;
}

#signup_submit_feedback_prompt_success {
  position: absolute;
  width: 40%;
  top: 35%;
  left: 0;
  right: 0;
  margin:auto;
  background-color: rgba(124,252,0,0.8);
  color: rgba(255, 255, 255, 1);
  font-size: 2em;
  padding: 50px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 16px 1px grey;
}

#signup_submit_feedback_prompt_disabled {
    display: none;
}

.cv_dropzone {
    height: 10%;
    margin-top: 2.5%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: gray;
    font-weight: bold;
}

.cv_dropzone div {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 3px solid #339FE6;
    border-radius: 5px;
    font-weight: bold;
}

/*COMPANY DASHBOARD*/

.company_dashboard_view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 1);
}

.company_dashboard_header {
    display: flex;
    height: 10%;
    justify-content: center;
    margin: 1% 0 0 5%;
    align-self: flex-start;
}

.company_dashboard_wrapper {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

#dashboard_toolbar {
    height: 10%;
    width: 90%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

#filters_toolbar {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

#filters_toolbar_form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#filters_toolbar_form input {
    margin-right: 10px;
    height: 50%;
    margin-left: 5px;
    padding-left: 2px;
    font-size: 1.1em;
    outline: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid gray;
}

#filters_toolbar_form label {
    margin-right: 10px;
}
#filters_toolbar_form input:focus:invalid {
    outline: 0;
    border-bottom: 2px solid red;
}
#filters_toolbar_form input:valid {
    outline: 0;
    border-bottom: 2px solid green;
}

.dashboard_panel_wrapper {
    height: 85%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    width: 90%;
    align-self: center;
    border: 1px solid gray;
}

.students_table {
    width: 100%;
    table-layout: fixed;
    /*The layout is fixed based on the first row. Set the width of those, and the rest of the table follows.*/
    border-collapse: collapse;
    /*No space between cells*/
    border: 1px solid gray;
    text-align: center;
    word-wrap: break-word;
}

#student_table_header {
    height: 10%;
}

#student_table_header * {
    width: 20%;
    padding: 1%;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    font-weight: bold;
    background-color: lightgray;
}
#student_table_header :nth-child(1) {
    width: 20%;
}

#student_table_header :nth-child(2) {
    width: 12.5%;
}
#student_table_header :nth-child(3) {
    width: 20%;
}
#student_table_header :nth-child(4) {
    width: 15%;
}
#student_table_header :nth-child(5) {
    width: 20%;
}
#student_table_header :nth-child(6) {
    width: 15%;
}
#student_table_header :nth-child(7) {
    width: 10%;
}
#student_table_header :nth-child(8) {
    width: 12.5%;
}
#student_table_header :nth-child(9) {
    width: 12.5%;
}
#student_table_header :nth-child(10) {
    width: 12.5%;
}

.student_item td {
    border: 1px solid gray;
    text-align: center;
    vertical-align: middle;
}
.student_item td > img {
    width: 30%;
    height: 30%;
}

.student_item {
    height: 80px;
}
.student_item:nth-of-type(2n) {
    background-color: lightgray;
}
.student_item:hover {
    background-color: rgba(41, 171, 226,0.6);
}

.download_cv_button {
    height: 40px;
    width: 70px;
    border: 0;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.download_cv_button:hover {
    border: 3px solid green;
    color: green;
    background-color: white;
}

.download_cv_button svg {
    width: 100%;
    height: 100%;
    fill: #FFFFFF;
}
.download_cv_button svg:hover {
    fill: green;
}
#logout_button {
    height: 60%;
    width: 7.5%;
    background-color: red;
    color: white;
    border: 0;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.2em;

}
#logout_button:hover {
    border: 3px solid red;
    color: red;
    background-color: white;
}

#company_filter_button {
    height: 60%;
    width: 7.5%;
    background-color: rgba(41, 171, 226,1);
    color: white;
    border: 0;
    border-radius: 5px;
    margin-left:2.5%;
}
#company_filter_button:hover {
    color: rgba(41, 171, 226,1);
    background-color: white;
    border: 3px solid rgba(41, 171, 226,1);
}

#company_filter_button svg {
    fill: white;
    width: 100%;
    height: 100%;
}
#company_filter_button svg:hover {
    fill: rgba(41, 171, 226,1);
}

#reset_filter_button {
  height: 60%;
  width: 7.5%;
  background-color: red;
  color: white;
  border: 0;
  border-radius: 5px;
  margin-left: 2.5%;
}
#reset_filter_button:hover {
  color: red;
  background-color: white;
  border: 3px solid red;
}

#reset_filter_button svg {
  fill: white;
  width: 100%;
  height: 100%;
}
#reset_filter_button svg:hover {
  fill: red;
}

#filters_toolbar_form > input[type="checkbox"]{
  height: 25px;
  width: 25px;
}

#filters_toolbar_form > label {
  font-weight: bold;
}

/* ADMIN DASHBOARD STYLES */

.admin_dashboard_view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 1);
}

.admin_dashboard_header {
    display: flex;
    height: 10%;
    justify-content: center;
    margin: 1% 0 0 5%;
    align-self: flex-start;
}

.admin_dashboard_wrapper {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

#admin_dashboard_toolbar {
    height: 10%;
    width: 90%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

.admin_dashboard_panel_wrapper {
    height: 85%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    width: 90%;
    align-self: center;
    border: 1px solid gray;
}

.companies_table {
    width: 100%;
    table-layout: fixed;
    /*The layout is fixed based on the first row. Set the width of those, and the rest of the table follows.*/
    border-collapse: collapse;
    /*No space between cells*/
    border: 1px solid gray;
    text-align: center;
}

#company_table_header * {
    width: 20%;
    padding: 1%;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    font-weight: bold;
    background-color: lightgray;
}
#company_table_header :nth-child(3) {
    width: 30%;
}

#company_table_header :nth-child(5) {
    width: 15%;
}

#company_table_header :nth-child(6) {
    width: 15%;
}

#company_table_header :nth-child(7) {
    width: 15%;
}

.company_item td {
    border: 1px solid gray;
    text-align: center;
    vertical-align: middle;
}

.company_item {
    height: 80px;
}
.company_item:nth-of-type(2n) {
    background-color: lightgray;
}
.company_item:hover {
    background-color: rgba(41, 171, 226,0.6);
}

.delete_company_button {
    height: 40px;
    width: 70px;
    border: 0;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.delete_company_button:hover {
    border: 3px solid red;
    color: red;
    background-color: white;
}

.delete_company_button svg {
    width: 100%;
    height: 100%;
    fill: #FFFFFF;
    font-weight: 400;
    font-family: "sans-serif";
    white-space: normal;
    overflow: visible;
    line-height: normal;
    text-indent: 0;
    text-align: start;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: #000;
    text-transform: none;
    isolation: auto;
    mix-blend-mode: normal;
}
.delete_company_button svg:hover {
    fill: red;
}

.reset_pass_button {
    height: 40px;
    width: 70px;
    border: 0;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.reset_pass_button:hover {
    border: 3px solid green;
    color: green;
    background-color: white;
}

.reset_pass_button svg {
    width: 100%;
    height: 100%;
    fill: #FFFFFF;
}
.reset_pass_button svg:hover {
    fill: green;
}

#add_company_button {
    height: 60%;
    width: 7.5%;
    background-color: rgba(41, 171, 226,1);
    color: white;
    border: 0;
    border-radius: 5px;
}
#add_company_button:hover {
    color: rgba(41, 171, 226,1);
    background-color: white;
    border: 3px solid rgba(41, 171, 226,1);
}

#add_company_button svg {
    fill: white;
    width: 100%;
    height: 100%;
}
#add_company_button svg:hover {
    fill: rgba(41, 171, 226,1);
}

/* ADD COMPANY WINDOW */

#add_company_window_wrapper_active {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.85);
}

#add_company_window {
    display: none;
}

#add_company_window_active {
    position: absolute;
    left: 35%;
    background-color: rgba(255,255,255, 1);
    box-shadow: 0 0 10px #000000;
    border-radius: 5px;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add_company_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 10%;
    height: 75%;
    margin-bottom: 5%;
}

#add_company_form input {
    margin-bottom: 5%;
    height: 10%;
    padding: 2%;
    font-size: 1.1em;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 3px solid rgba(0,0,0,0.4);
}
#add_company_form input:focus {
    background-color: rgba(41, 171, 226,0.1);
}
#add_company_form input:focus:invalid {
    outline: 0;
    border-bottom: 3px solid red;
}
#add_company_form input:valid {
    outline: 0;
    border-bottom: 3px solid green;
}

#admin_form_buttons {
    display: flex;
    justify-content: center;
    height: 12.5%;
}

#add_comp_button {
    background-color: green;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 45%;
    height: 100%;
}
#add_comp_button:hover {
    color: green;
    background-color: white;
    border: 3px solid green;
}

#add_comp_button svg {
    fill: white;
    width: 100%;
    height: 100%;
}
#add_comp_button svg:hover {
    fill: green;
}

#generate_pass_button {
    background-color: rgb(41, 171, 226);
    border-radius: 5px;
    font-weight: bold;
    border: 0;
    color: white;
    text-align: center;
    width: 45%;
    height: 100%;
}
#generate_pass_button:hover {
    color: rgb(41, 171, 226);
    background-color: white;
    border: 3px solid rgb(41, 171, 226);
}

#generate_pass_button svg {
    fill: white;
    width: 100%;
    height: 100%;
}
#generate_pass_button svg:hover {
    fill: rgb(41, 171, 226);
}

#cancel_add_button {
    width: 35%;
    height: 7.5%;
    font-weight: bold;
    border: 0;
    text-align: center;
    background-color: red;
    color: white;
    border-radius: 5px;
}
#cancel_add_button:hover {
    background-color: white;
    color: red;
    border: 3px solid red;
}

#cancel_add_button svg {
    font-weight: 400;
    font-family: 'sans-serif';
    white-space: normal;
    overflow: visible;
    line-height: normal;
    text-indent: 0;
    text-align: start;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: #000;
    text-transform: none;
    isolation: auto;
    mix-blend-mode: normal;
    fill: white;
    width: 100%;
    height: 100%;
}
#cancel_add_button svg:hover {
    fill: red;
}

#student_deletion_actions {
  height: 100%;
  display: flex;
  align-items: center;
}

#student_deletion_actions label[for="deleteStudent"]{
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

#student_deletion_actions input{
  height: 50%;
  margin-right: 5%;
  margin-left: 2%;
  font-size: 1.2em;
  padding-left: 1%;
  outline: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid gray;
}

#student_status_info{
  margin-left: 2%;
  font-weight: bold;
  color: red;
  font-size: 1.1em;
}

/* STUDENT DASHBOARD */

.student_dashboard_view {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.student_dashboard_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.75);
}

.student_dashboard_header {
    display: flex;
    height: 10%;
    justify-content: center;
    margin-top: 1%;
}

.student_dashboard_information_wrapper {
    height: 85%;
    display: flex;
    justify-content: center;
}

.student_dashboard_information {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey; 

}

.student_dashboard_information_fields {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    align-self: center;
    margin: 2% 0 2% 0;
}
.student_info_item {
    display: flex;
    justify-content: space-between;
    height: 7.5%;
    margin-top: 1%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    border-radius: 5px;
}

.student_info_item:hover {
    background-color: rgba(51,159,230, 0.1);
}

.student_field_name {
    display: flex;
    align-items: center;
}

.student_field_value {
    display: flex;
    align-items: center;
    font-style: italic;
}

.student_change_value {
    display: flex;
    align-items: center;
}
.student_change_value > button{
    width: 100%;
    padding: 1px;
    height: 80%;
    border-radius: 5px;
    background-color: #339FE6;
    color: white;
    border: 3px solid #339FE6;
    font-weight: bold;
}

.student_change_value > button:hover {
    background-color: white;
    color: #339FE6;
    border: 3px solid #339FE6;
}

#student_delete_account {
    background-color: red;
    color: white;
    border: 3px solid red;
}

#student_delete_account:hover {
    background-color: white;
    color: red;
    border: 3px solid red;
}

.student_dashboard_log_out {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#student_log_out_button {
    width: 50%;
    height: 50%;
    padding: 1px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: 3px solid red;
    font-weight: bold;
}

#student_log_out_button:hover {
    background-color: white;
    color: red;
    border: 3px solid red;
}

#student_feedback_wrapper_active {
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.75);
}

#student_feedback_wrapper_inactive {
    display: none;
}

#student_feedback_prompt_fail {
    position: absolute;
    width: 40%;
    top: 15%;
    left: 0;
    right: 0;
    margin:auto;
    background-color: rgba(255,0,0, 0.8);
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    padding: 5%;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey;
}

#student_feedback_prompt_success {
  position: absolute;
  width: 40%;
  top: 15%;
  left: 0;
  right: 0;
  margin:auto;
  background-color: rgba(124,252,0,0.8);
  color: rgba(255, 255, 255, 1);
  font-size: 2em;
  padding: 5%;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 16px 1px grey;
}
#student_feedback_prompt_inactive {
    display: none;
}

.student_feedback_prompt_input {
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student_feedback_input {
    height: 7.5%;
    margin-left: 2%;
    border: 0;
    border-bottom: 2px solid rgb(169,169,169);
    font-size: 1.3em;
}

.student_feedback_input:focus:invalid {
    border-bottom: 2px solid red;
}
.student_feedback_input:valid {
    border-bottom: 2px solid green;
}

.student_prompt_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.student_prompt_buttons_submit{
    height: 80%;
    width: 30%;
    padding: 2.5%;
    font-size: 1.1em;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: 3px solid green;
    font-weight: bold;
}

.student_prompt_buttons_submit:hover {
    background-color: white;
    color: green;
    border: 3px solid green;
}

.student_prompt_buttons_cancel {
    width: 30%;
    height: 80%;
    padding: 2.5%;
    font-size: 1.1em;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: 3px solid red;
    font-weight: bold;
}

.student_prompt_buttons_cancel:hover {
    background-color: white;
    color: red;
    border: 3px solid red;
}

/* ONLY FOR EMAIL PROMPT */
#student_feedback_email_prompt_active {
    position: absolute;
    width: 30%;
    top: 35%;
    left: 0;
    right: 0;
    margin:auto;
    background-color: white;
    font-size: 1.2em;
    padding: 5%;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey;
    display: flex;
    flex-direction: column;
}
#student_feedback_email_prompt_disabled {
    display: none;
}

#student_feedback_notification_email_fail {
    position: absolute;
    width: 40%;
    top: 10%;
    left: 0;
    right: 0;
    margin:auto;
    background-color: rgba(255,0,0, 0.8);
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    padding: 5%;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey;
}

#student_feedback_notification_email_success {
  position: absolute;
  width: 40%;
  top: 10%;
  left: 0;
  right: 0;
  margin:auto;
  background-color: rgba(124,252,0,0.8);
  color: rgba(255, 255, 255, 1);
  font-size: 2em;
  padding: 5%;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 16px 1px grey;
}
#student_feedback_notification_email_inactive {
    display: none;
}

/* ONLY FOR PASSWORD PROMPT */
#student_feedback_password_prompt_active {
    position: absolute;
    width: 30%;
    top: 35%;
    left: 0;
    right: 0;
    margin:auto;
    background-color: white;
    font-size: 1.2em;
    padding: 5%;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey;
    display: flex;
    flex-direction: column;
}

#student_feedback_password_prompt_disabled {
    display: none;
}

#student_feedback_notification_password_fail {
    position: absolute;
    width: 40%;
    top: 10%;
    left: 0;
    right: 0;
    margin:auto;
    background-color: rgba(255,0,0, 0.8);
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    padding: 5%;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey;
}

#student_feedback_notification_password_success {
  position: absolute;
  width: 40%;
  top: 10%;
  left: 0;
  right: 0;
  margin:auto;
  background-color: rgba(124,252,0,0.8);
  color: rgba(255, 255, 255, 1);
  font-size: 2em;
  padding: 5%;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 16px 1px grey;
}
#student_feedback_notification_password_inactive {
    display: none;
}

/* ONLY FOR PHONE PROMPT */
#student_feedback_phone_prompt_active {
    position: absolute;
    width: 30%;
    top: 35%;
    left: 0;
    right: 0;
    margin:auto;
    background-color: white;
    font-size: 1.2em;
    padding: 5%;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey;
    display: flex;
    flex-direction: column;
}

#student_feedback_phone_prompt_disabled {
    display: none;
}

#student_feedback_notification_phone_fail {
    position: absolute;
    width: 40%;
    top: 10%;
    left: 0;
    right: 0;
    margin:auto;
    background-color: rgba(255,0,0, 0.8);
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    padding: 5%;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey;
}

#student_feedback_notification_phone_success {
  position: absolute;
  width: 40%;
  top: 10%;
  left: 0;
  right: 0;
  margin:auto;
  background-color: rgba(124,252,0,0.8);
  color: rgba(255, 255, 255, 1);
  font-size: 2em;
  padding: 5%;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 16px 1px grey;
}
#student_feedback_notification_phone_inactive {
    display: none;
}

/* ONLY FOR YEAR PROMPT */

#student_feedback_year_prompt_active {
    position: absolute;
    width: 30%;
    top: 35%;
    left: 0;
    right: 0;
    margin:auto;
    background-color: white;
    font-size: 1.2em;
    padding: 5%;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey;
    display: flex;
    flex-direction: column;
}

#student_feedback_year_prompt_disabled {
    display: none;
}

#student_feedback_notification_year_fail {
    position: absolute;
    width: 40%;
    top: 10%;
    left: 0;
    right: 0;
    margin:auto;
    background-color: rgba(255,0,0, 0.8);
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    padding: 5%;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey;
}

#student_feedback_notification_year_success {
  position: absolute;
  width: 40%;
  top: 10%;
  left: 0;
  right: 0;
  margin:auto;
  background-color: rgba(124,252,0,0.8);
  color: rgba(255, 255, 255, 1);
  font-size: 2em;
  padding: 5%;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 16px 1px grey;
}
#student_feedback_notification_year_inactive {
    display: none;
}

/* ONLY FOR NEW CV UPLOAD */

#student_feedback_new_cv_prompt_active {
    position: absolute;
    width: 30%;
    top: 35%;
    left: 0;
    right: 0;
    margin:auto;
    background-color: white;
    font-size: 1.2em;
    padding: 5%;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey;
    display: flex;
    flex-direction: column;
}

#student_feedback_new_cv_prompt_disabled {
    display: none;
}

#student_feedback_notification_cv_upload_fail {
    position: absolute;
    width: 40%;
    top: 10%;
    left: 0;
    right: 0;
    margin:auto;
    background-color: rgba(255,0,0, 0.8);
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    padding: 5%;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey;
}

#student_feedback_notification_cv_upload_success {
  position: absolute;
  width: 40%;
  top: 10%;
  left: 0;
  right: 0;
  margin:auto;
  background-color: rgba(124,252,0,0.8);
  color: rgba(255, 255, 255, 1);
  font-size: 2em;
  padding: 5%;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 16px 1px grey;
}
#student_feedback_notification_cv_upload_inactive {
    display: none;
}

#student_feedback_notification_delete_send_fail {
    position: absolute;
    width: 40%;
    top: 20%;
    left: 0;
    right: 0;
    margin:auto;
    background-color: rgba(255,0,0, 0.8);
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
    padding: 5%;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px grey;
}

#student_feedback_notification_delete_send_success {
  position: absolute;
  width: 40%;
  top: 20%;
  left: 0;
  right: 0;
  margin:auto;
  background-color: rgba(124,252,0,0.8);
  color: rgba(255, 255, 255, 1);
  font-size: 2em;
  padding: 5%;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 16px 1px grey;
}
#student_feedback_notification_delete_send_inactive {
    display: none;
}